* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f5f2;
  box-sizing: border-box;
}

#root {
  height: 100%; /* Ensure full height */
  width: 100%;  /* Ensure full width */
  display: flex;
  flex-direction: column; /* Allow stacking of navbar and routes */
}

.navbar {
  flex-shrink: 0; /* Prevent navbar from shrinking */
}

