.filter-sidebar {
    padding: 20px;
    border-right: 1px solid #ddd;
    width: 550px;
  }
  
  .filter-item {
    margin-bottom: 20px;
  }
  
  .filter-item h4 {
    margin-bottom: 10px;
  }
  
  .filter-item input[type="text"] {
    width: 250px;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-btn {
    padding: 10px 20px;
    background-color: #feb60a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filter-item input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .filter-item label {
    display: block;
    margin-bottom: 5px;
  }