/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #da0133;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 19px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover {
  color: #d4af37; /* Color on hover */
}
.btn-nav {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

/* Language button styles */
.language-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #007bff;
}

.language-button:hover {
  color: #0056b3;
}

.language-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  left: auto; /* Override left positioning to avoid the dropdown cutting off */
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100px;
  max-height: 150px; /* Limit the dropdown height */
  overflow-y: auto;  /* Enable vertical scroll */
  z-index: 1000;
}

/* Ensure dropdown stays fully visible near screen edges */
.language-dropdown-container {
  position: relative;
}

@media screen and (max-width: 600px) {
  .language-dropdown {
    right: auto;
    left: -50px; /* Adjust positioning for smaller screens */
  }
}

/* Language list styles */
.language-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.language-list li {
  padding: 10px; /* Consistent padding for dropdown items */
  cursor: pointer;
  text-align: center;
}

.language-list li:hover {
  background-color: #f0f0f0;
}
