.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 30px;
  }
  
  input[type='text'] {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 300px;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.3s;
    color: black;
  }
  
  input[type='text']:focus {
    border-color: #da0133;
  }
  
  select {
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    transition: border-color 0.3s;
  }
  
  select:focus {
    border-color: #007bff;
  }
  
  button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }